.container {
  margin-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.box {
  width: 300px;
  border: 1px solid var(--border-primary);
  border-radius: 4px;
  padding: 4px;
}

.createdRow {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  gap: 4px;
}

.currentRow {
  position: relative;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  gap: 2px;
}

.input {
  border: none;
  outline: none;
}

.property {
  position: relative;
}

.value {
  position: relative;
}

.createdProperty {
  color: var(--color-highlight-primary);
}
